/* .links{
    padding-right: 40px;
}
.active{
    color: rgba(255, 255, 255, 0.87);
    width: 100%;
    position: relative;
}
NavLink:hover{
    color: rgba(255, 255, 255, 0.87);
}
.active:hover{
    color: rgba(255, 255, 255, 0.87);
} */