
<MudMenu Class="ml-2" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopRight">
    <ActivatorContent>
        @if (string.IsNullOrEmpty(_profilePic) || _profilePic == "data:image/png;base64,")
        {
            <MudAvatar Color="Color.Surface" Size="Size.Medium">@_shortName</MudAvatar>
        }
        else
        {
            <MudAvatar Color="Color.Surface" Size="Size.Medium">
                <MudImage Src="@_profilePic"></MudImage>
            </MudAvatar>
        }
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem>
             <form method="post" action="Identity/Account/LogOut">
                <MudButton 
                    ButtonType="ButtonType.Submit" 
                    StartIcon="@Icons.Material.Filled.Logout" 
                    IconColor="Color.Error"
                    Color="Color.Error"
                    Variant="Variant.Text"
                    Size="Size.Small">
                    Abmelden
                </MudButton>
            </form>
        </MudMenuItem>
    </ChildContent>
</MudMenu>




